@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    color: black;
}

header {
    text-align: center;
    border-bottom: 1px solid #0388A6;
}

header .logo {
    width: 120px;
    position: relative;
    top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

nav {
    top: 0;
    list-style-type: none;
    overflow: hidden;
    color: #0388A6;
    font-size: 16px;
}

.navlink {
    float: right;
}

.navlink a {
    color: #0388A6;
    display: block;
    margin-top: 10px;
    margin: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
}

.navlink a:hover {
    border-bottom: 1px solid #0388A6;
    cursor: pointer;
}

nav .icon {
    width: 70px;
    position: relative;
    margin-top: -8px;
    display: inline;
}

.dropdown {
    float: right;
    overflow: hidden;
    cursor: pointer;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0388A6;
    min-width: 120px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 13px;
    opacity: .9;
}


.dropdown-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:  #63AEBF;
}

.dropdown:hover .dropdown-content {
    display: block
}

footer {
    background-color: #080B0D;
    padding: 90px;
    margin-top: 20px;
}

.footerText {
    color: white;
    text-align: center;
    margin-bottom: -40px;
    font-size: 14px;
    opacity: .5;
    font-family: 'Roboto', sans-serif;
}

.footerSocial{
    position: relative;
    width: 20px;
    margin: auto;
    top: -30px;
}

.social{
    float: right;
    display: flex;
    flex-direction: column;
}

.footerLogo{
    position: relative;
    width: 60px;
    top: -20px;
    display: inline;
}




.parallax1 h2 {
    font-size: 50px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em #080B0D;
    /* padding-top: 30px; */
    
}

.descricao p{
    border: 20px;
    margin-left: 20px;
}

.textos {
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
}

.textos1 {
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
}

.quadro1{
    display: flex;
    margin: 50px;
    border: 1px solid #0388A6;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}

.quadro1 .img1 img{
    width: 300px;
    height: 300px; 
    padding: 0px 0px 0px 20px; 
    border-radius: 15px;
    transition: width 1s, height 1s;
}

.quadro1 .img1 img:hover {
    width: 350px;
  height: 350px;
}

.quadro1 h2{
    font-size: 30px;
    color: #0388A6;
    border-bottom: 1px solid #0388A6;
    padding: 10px;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    /* border-bottom: 1px solid #0388A6; */
}

.quadro2{
    display: flex;
    margin: 50px;
    border: 1px solid #0388A6;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.quadro2 .img2 img{
    width: 300px;
    height: 300px;  
    padding: 0px 20px 0px 0px;
    /* filter: grayscale(100%); */
    border-radius: 15px;
    transition: width 1s, height 1s;
}

.quadro2 .img2 img:hover {
    width: 350px;
  height: 350px;
}

.quadro2 h2{
    font-size: 30px;
    color: #0388A6;
    text-align: center;
    padding: 10px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: 'Comfortaa', sans-serif;
    border-bottom: 1px solid #0388A6;
}

.quadro3 {
    display: flex;
    margin: 50px;
    border: 1px solid #0388A6;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}

/* .quadro1 .img1 img{
    width: 300px;
    height: 300px; 
    padding: 0px 0px 0px 20px; 
} */

.quadro3 h3{
    text-align: center;
    gap: 3em;
}

.conteudo{
    text-align: center;
    margin-right: 5px;
    width: 30vw;
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
}
.conteudo h3{
    font-size: 20px;
    color: #0388A6;
    border-bottom: 1px solid #0388A6;
    padding: 10px;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
}

.valores{
    color: #0388A6;
    width: 30vw;
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
}

.textos li{
    padding: 4px;
    text-align: left;
}

.textos b{
    color: #0388A6;
}

hr{
    background: #080B0D;
    height: 1.5px;
    border: 0px;
    margin-bottom: 10px;
}